blueprints/sanitized/de/LTL Video-Bot v2.1 [DE].blueprint.json
{
  "name": "LTL Video-Bot v2.1 [DE]",
  "flow": [
    {
      "id": 1,
      "module": "wordpress:watchPosts",
      "version": 3,
      "parameters": {
        "type": "posts",
        "limit": 5,
        "status": [
          "publish"
        ],
        "__IMTCONN__": 0
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 300,
          "name": "📰 Der Redaktions-Chef (Scanner)"
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "Beiträge"
            },
            "status": {
              "label": [
                "Publish"
              ]
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "wordpress4"
              },
              "label": "Mein LazyTechLab Blog ([NAME] Sonntag)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:wordpress4",
            "label": "Connection",
            "required": true
          },
          {
            "name": "type",
            "type": "select",
            "label": "Type",
            "required": true
          },
          {
            "name": "status",
            "type": "select",
            "label": "Status",
            "multiple": true
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          }
        ]
      }
    },
    {
      "id": 21,
      "module": "builtin:BasicAggregator",
      "version": 1,
      "parameters": {
        "feeder": 1
      },
      "filter": {
        "name": "Video-Filter",
        "conditions": [
          [
            {
              "a": "{{1.content}}",
              "b": "<!-- VIDEO_TRIGGER_ACTIVE -->",
              "o": "text:contain"
            }
          ]
        ]
      },
      "mapper": {
        "id": "{{1.id}}",
        "link": "{{1.link}}",
        "slug": "{{1.slug}}",
        "title": "{{1.title}}",
        "excerpt": "{{1.excerpt}}",
        "featuredMedia": "{{1.featuredMedia}}",
        "featured_media": "{{1.featured_media}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 300,
          "name": "🧺 Sammler (Aggregator)"
        },
        "restore": {
          "extra": {
            "feeder": {
              "label": "📰 Der Redaktions-Chef (Scanner) - Watch Posts [1]"
            },
            "target": {
              "label": "Custom"
            }
          }
        }
      }
    },
    {
      "id": 22,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{slice(21.array; 0; 1)}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 300,
          "name": "🧺 Sortierer Iterator"
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "mode": "edit",
            "name": "array",
            "spec": [],
            "type": "array",
            "label": "Array"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "wordpress:getMediaItem",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "id": "{{22.featured_media}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 300,
          "name": "📸 Der Fotograf (Bild-Suche)"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "wordpress4"
              },
              "label": "Mein LazyTechLab Blog ([NAME] Sonntag)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:wordpress4",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "id",
            "type": "number",
            "label": "Media item ID",
            "required": true
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "gemini-ai:createACompletionGeminiPro",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "model": "gemini-3-pro-preview",
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "text": "Du bist der professionelle Video-Producer \"Simon\", spezialisiert auf virale Tech-News.\r\nErstelle ein valides JSON-Objekt basierend auf diesem Artikel.\r\n\r\nINPUT DATEN:\r\nTitel: {{22.title}}\r\nInhalt: {{22.excerpt}}\r\nLink: {{22.link}}\r\n\r\nAUFGABE:\r\nAnalysiere den Inhalt und erstelle Content, der Zuschauer sofort hookt.\r\n\r\n1. VISUELLE OVERLAYS (Text im Video):\r\n   - Szene 1 (Hook): Max 5-7 Wörter. Muss neugierig machen.\r\n   - Szene 2 (Info 1): Der wichtigste Fakt (Max 10 Wörter).\r\n   - Szene 3 (Info 2): Weiterer Kontext oder Detail (Max 10 Wörter).\r\n   - Szene 4 (Outro): Call to Action (z.B. \"Folge uns für Updates!\").\r\n\r\n2. PLATTFORMEN (STRUKTUR & INHALT):\n\n   - TIKTOK_CAPTION:\n     Struktur:\n     [Provokante Frage/Hook]\n     [Kurze, knackige Zusammenfassung]\n     Mehr Infos: {{22.link}}\n     Mein Tech-Store: https://store.lazytechlab.de/\n     [5 virale Hashtags passend zum Thema]\n\n   - YOUTUBE_DESCRIPTION:\n     Struktur:\n     [SEO-Optimierter Text (2-3 Sätze). Nutze Keywords aus dem Titel.]\n     \n     Ganzen Artikel lesen: {{22.link}}\n\n     Check mein Tech-Store: https://store.lazytechlab.de/\n     \n     [5 Hashtags, die speziell für YouTube-Suche optimiert sind (können ähnlich zu TikTok sein, aber auf Suchbegriffe achten)]\r\n\r\n3. VOICEOVER_SCRIPT:\r\n   - 3-4 Sätze.\r\n   - Stil: Energetisch, wie ein Nachrichtensprecher für Gen-Z.\r\n   - Zahlen ausschreiben (z.B. \"zwei Millionen\" statt \"2 Mio\").\r\n   - Währungen ausschreiben (\"Euro\" statt \"€\").\r\n\r\nWICHTIGE TECHNISCHE REGELN:\r\n- Antworte NUR mit dem reinen JSON.\r\n- KEIN Markdown (kein ```json ... ```).\r\n- KEIN Text vor oder nach dem JSON.\r\n\r\nJSON STRUKTUR:\r\n{\r\n  \"scene_1_title\": \"String\",\r\n  \"scene_2_text\": \"String\",\r\n  \"scene_3_text\": \"String\",\r\n  \"scene_4_outro\": \"String\",\r\n  \"tiktok_caption\": \"String\",\r\n  \"youtube_description\": \"String\",\r\n  \"voiceover_script\": \"String\"\r\n}",
                "type": "text"
              }
            ]
          }
        ],
        "generationConfig": {
          "thinkingConfig": {},
          "responseMimeType": "application/json"
        },
        "system_instruction": {}
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 300,
          "name": "✍️ Der Drehbuchautor (Skript)"
        },
        "restore": {
          "expect": {
            "model": {
              "mode": "chose",
              "label": "Gemini 3 Pro Preview"
            },
            "contents": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "parts": {
                    "mode": "chose",
                    "items": [
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "url_context": {
              "mode": "chose"
            },
            "code_execution": {
              "mode": "chose"
            },
            "safetySettings": {
              "mode": "chose"
            },
            "generationConfig": {
              "nested": {
                "stopSequences": {
                  "mode": "chose"
                },
                "thinkingConfig": {
                  "nested": {
                    "thinking_level": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "include_thoughts": {
                      "mode": "chose"
                    }
                  }
                },
                "mediaResolution": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "responseMimeType": {
                  "mode": "chose",
                  "label": "JSON Output"
                },
                "new_responseSchema": {
                  "mode": "chose"
                },
                "responseModalities": {
                  "mode": "chose"
                }
              }
            },
            "system_instruction": {
              "nested": {
                "parts": {
                  "mode": "chose"
                }
              }
            },
            "google_maps_context": {
              "mode": "chose"
            },
            "google_search_context": {
              "mode": "chose"
            },
            "file_search_store_context": {
              "mode": "chose"
            },
            "function_declarations_context": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "gemini-ai-q9zyjp"
              },
              "label": "My Gemini AI connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:gemini-ai-q9zyjp",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "AI Model",
            "required": true
          },
          {
            "name": "contents",
            "spec": [
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Model",
                    "value": "model"
                  }
                ]
              },
              {
                "name": "parts",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Message Type",
                    "options": [
                      {
                        "label": "Text",
                        "value": "text",
                        "nested": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "File",
                        "value": "file",
                        "nested": [
                          {
                            "name": "file_data",
                            "spec": [
                              {
                                "name": "mime_type",
                                "type": "text",
                                "label": "Mime Type",
                                "required": false
                              },
                              {
                                "help": "You get this from the 'Upload a File' module.",
                                "name": "file_uri",
                                "type": "text",
                                "label": "File URI",
                                "required": false
                              }
                            ],
                            "type": "collection",
                            "label": "File Data",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "Function Call",
                        "value": "functionCall",
                        "nested": [
                          {
                            "name": "functionCall",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function parameters and values in JSON object format.",
                                "name": "args",
                                "type": "json",
                                "label": "Arguments"
                              },
                              {
                                "help": "The unique ID of the function call.",
                                "name": "id",
                                "type": "text",
                                "label": "Function Call ID"
                              }
                            ],
                            "type": "collection",
                            "label": "Function Call"
                          }
                        ]
                      },
                      {
                        "label": "Function Response",
                        "value": "functionResponse",
                        "nested": [
                          {
                            "name": "functionResponse",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function response in JSON object format.",
                                "name": "response",
                                "type": "json",
                                "label": "Response",
                                "required": true
                              }
                            ],
                            "type": "collection",
                            "label": "Function Response"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "name": "thoughtSignature",
                    "type": "text",
                    "label": "Thought Signature"
                  }
                ],
                "type": "array",
                "label": "Parts"
              }
            ],
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "system_instruction",
            "spec": [
              {
                "name": "parts",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Prompt"
                },
                "type": "array",
                "label": "Prompts"
              }
            ],
            "type": "collection",
            "label": "System Instructions"
          },
          {
            "name": "safetySettings",
            "spec": [
              {
                "name": "category",
                "type": "select",
                "label": "Category",
                "options": [
                  {
                    "label": "Harassment content",
                    "value": "HARM_CATEGORY_HARASSMENT"
                  },
                  {
                    "label": "Hate speech and content",
                    "value": "HARM_CATEGORY_HATE_SPEECH"
                  },
                  {
                    "label": "Sexually explicit content.",
                    "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                  },
                  {
                    "label": "Dangerous content:",
                    "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                  }
                ]
              },
              {
                "name": "threshold",
                "type": "select",
                "label": "Threshold",
                "options": [
                  {
                    "label": "Block low and above.",
                    "value": "BLOCK_LOW_AND_ABOVE"
                  },
                  {
                    "label": "Block medium and above.",
                    "value": "BLOCK_MEDIUM_AND_ABOVE"
                  },
                  {
                    "label": "Block only high.",
                    "value": "BLOCK_ONLY_HIGH"
                  },
                  {
                    "label": "Block none.",
                    "value": "BLOCK_NONE"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Safety Settings"
          },
          {
            "name": "generationConfig",
            "spec": [
              {
                "name": "stopSequences",
                "spec": {
                  "name": "value",
                  "type": "text",
                  "label": "Stop Sequence"
                },
                "type": "array",
                "label": "Stop Sequences"
              },
              {
                "name": "responseModalities",
                "type": "select",
                "label": "Response Modalities",
                "multiple": true,
                "validate": {
                  "enum": [
                    "text",
                    "image"
                  ]
                }
              },
              {
                "name": "maxOutputTokens",
                "type": "number",
                "label": "Max Output Tokens"
              },
              {
                "name": "temperature",
                "type": "number",
                "label": "Temperature",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topP",
                "type": "number",
                "label": "Top P",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topK",
                "type": "number",
                "label": "Top K"
              },
              {
                "name": "thinkingConfig",
                "spec": [
                  {
                    "name": "thinkingBudget",
                    "type": "number",
                    "label": "Thinking Budget"
                  },
                  {
                    "name": "include_thoughts",
                    "type": "boolean",
                    "label": "Include Thoughts"
                  },
                  {
                    "name": "thinking_level",
                    "type": "select",
                    "label": "Thinking Level",
                    "validate": {
                      "enum": [
                        "low",
                        "high"
                      ]
                    }
                  }
                ],
                "type": "collection",
                "label": "Thinking Config"
              },
              {
                "name": "mediaResolution",
                "type": "select",
                "label": "Media Resolution",
                "validate": {
                  "enum": [
                    "media_resolution_low",
                    "media_resolution_medium",
                    "media_resolution_high"
                  ]
                }
              },
              {
                "name": "responseMimeType",
                "type": "select",
                "label": "Response Format"
              },
              {
                "name": "responseSchema",
                "type": "any",
                "label": "Response Schema (Deprecated)"
              },
              {
                "name": "new_responseSchema",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Value Type",
                    "options": [
                      {
                        "label": "String",
                        "value": "string",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                      },
                      {
                        "label": "Enum",
                        "value": "enum",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                      },
                      {
                        "label": "Number",
                        "value": "number",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                      },
                      {
                        "label": "Integer",
                        "value": "integer",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                      },
                      {
                        "label": "Boolean",
                        "value": "boolean",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                      },
                      {
                        "label": "Object",
                        "value": "object",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                      }
                    ]
                  }
                ],
                "type": "array",
                "label": "Response Schema"
              }
            ],
            "type": "collection",
            "label": "Generation configurations"
          },
          {
            "name": "tools",
            "type": "any",
            "label": "Tools"
          },
          {
            "name": "tool_config",
            "type": "any",
            "label": "Tool Config"
          },
          {
            "name": "function_declarations_context",
            "type": "boolean",
            "label": "Function Declarations Grounding"
          },
          {
            "name": "url_context",
            "type": "boolean",
            "label": "URL Context"
          },
          {
            "name": "google_search_context",
            "type": "boolean",
            "label": "Google Search Grounding"
          },
          {
            "name": "code_execution",
            "type": "boolean",
            "label": "Code Execution"
          },
          {
            "name": "google_maps_context",
            "type": "boolean",
            "label": "Google Maps Grounding"
          },
          {
            "name": "file_search_store_context",
            "type": "boolean",
            "label": "File Search Store Context"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 15,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": ""
      },
      "mapper": {
        "json": "{{3.candidates[].content.parts[].text}}"
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 300,
          "name": "🔧 Daten-Wandler"
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "Choose a data structure"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ],
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "elevenlabs:createTextToSpeech",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "text": "{{15.voiceover_script}}",
        "model_id": "eleven_multilingual_v2",
        "voice_id": "HwfnZsxxLLIWiCveuroR",
        "output_format": "mp3_44100_128",
        "voice_settings": {
          "speed": "0.95",
          "use_speaker_boost": false
        },
        "apply_text_normalization": "auto"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 300,
          "name": "🎙️ Der Sprecher (Voiceover)"
        },
        "restore": {
          "expect": {
            "model_id": {
              "mode": "chose",
              "label": "Eleven Multilingual v2 (eleven_multilingual_v2)"
            },
            "voice_id": {
              "mode": "chose",
              "label": "generated/Simon - Junger Tech Reviewer"
            },
            "output_format": {
              "mode": "chose",
              "label": "mp3_44100_128"
            },
            "voice_settings": {
              "nested": {
                "use_speaker_boost": {
                  "mode": "chose"
                }
              }
            },
            "apply_text_normalization": {
              "mode": "chose",
              "label": "auto"
            },
            "optimize_streaming_latency": {
              "mode": "chose",
              "label": "Empty"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "elevenlabs"
              },
              "label": "My ElevenLabs connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:elevenlabs",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "voice_id",
            "type": "select",
            "label": "Voice",
            "required": true
          },
          {
            "name": "model_id",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "text",
            "type": "text",
            "label": "Text",
            "required": true
          },
          {
            "name": "output_format",
            "type": "select",
            "label": "Output format",
            "validate": {
              "enum": [
                "mp3_22050_32",
                "mp3_44100_32",
                "mp3_44100_64",
                "mp3_44100_96",
                "mp3_44100_128",
                "mp3_44100_192",
                "pcm_8000",
                "pcm_16000",
                "pcm_22050",
                "pcm_24000",
                "pcm_44100",
                "pcm_48000",
                "ulaw_8000",
                "alaw_8000",
                "opus_48000_32",
                "opus_48000_64",
                "opus_48000_96",
                "opus_48000_128",
                "opus_48000_192"
              ]
            }
          },
          {
            "name": "language_code",
            "type": "text",
            "label": "Language code"
          },
          {
            "name": "voice_settings",
            "spec": [
              {
                "name": "stability",
                "type": "number",
                "label": "Stability",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "similarity_boost",
                "type": "number",
                "label": "Similarity boost",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "use_speaker_boost",
                "type": "boolean",
                "label": "Use speaker boost"
              },
              {
                "name": "style",
                "type": "number",
                "label": "Style"
              },
              {
                "name": "speed",
                "type": "number",
                "label": "Speed",
                "validate": {
                  "max": 1.2,
                  "min": 0.7
                }
              }
            ],
            "type": "collection",
            "label": "Voice settings"
          },
          {
            "name": "optimize_streaming_latency",
            "type": "select",
            "label": "Optimize streaming latency",
            "validate": {
              "enum": [
                "0",
                "1",
                "2",
                "3",
                "4"
              ]
            }
          },
          {
            "name": "seed",
            "type": "uinteger",
            "label": "Seed"
          },
          {
            "name": "apply_text_normalization",
            "type": "select",
            "label": "Apply text normalization",
            "validate": {
              "enum": [
                "auto",
                "on",
                "off"
              ]
            }
          },
          {
            "name": "previous_text",
            "type": "text",
            "label": "Previous text"
          },
          {
            "name": "next_text",
            "type": "text",
            "label": "Next text"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 13,
      "module": "dropbox:uploadLargeFile",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "data": "{{4.data}}",
        "path": "/LazyTechLab/Finished_TikToks/{{formatDate(now; \"DD-MM-YYYY\")}} {{15.scene_1_title}}",
        "filename": "{{4.fileName}}",
        "overwrite": true
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 300,
          "name": "📂 Audio-Parkhaus (Dropbox Upload)"
        },
        "restore": {
          "expect": {
            "path": {
              "mode": "edit"
            },
            "overwrite": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "dropbox"
              },
              "label": "My Dropbox connection (REDACTED_EMAIL)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:dropbox",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "path",
            "type": "folder",
            "label": "Folder",
            "required": true
          },
          {
            "name": "filename",
            "type": "filename",
            "label": "File Name",
            "required": true
          },
          {
            "name": "data",
            "type": "buffer",
            "label": "Data",
            "required": true
          },
          {
            "name": "overwrite",
            "type": "boolean",
            "label": "Overwrite an existing file",
            "required": true
          }
        ]
      }
    },
    {
      "id": 14,
      "module": "dropbox:createShareLink",
      "version": 5,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "path": "{{13.path_lower}}",
        "select": "map",
        "settings": {
          "requested_visibility": "public"
        }
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 300,
          "name": "🔗 Link-Generator (Audio URL)"
        },
        "restore": {
          "expect": {
            "select": {
              "label": "Map a file/folder path"
            },
            "settings": {
              "nested": {
                "access": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "allow_download": {
                  "mode": "chose"
                },
                "require_password": {
                  "mode": "chose"
                },
                "requested_visibility": {
                  "mode": "chose",
                  "label": "Public"
                }
              }
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "dropbox"
              },
              "label": "My Dropbox connection (REDACTED_EMAIL)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:dropbox",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Way of selecting files",
            "required": true,
            "validate": {
              "enum": [
                "map",
                "file"
              ]
            }
          },
          {
            "name": "settings",
            "spec": [
              {
                "name": "access",
                "type": "select",
                "label": "Link's Access Level",
                "validate": {
                  "enum": [
                    "viewer",
                    "editor",
                    "max"
                  ]
                }
              },
              {
                "name": "expires",
                "time": true,
                "type": "date",
                "label": "Link's Expiration Date"
              },
              {
                "name": "require_password",
                "type": "boolean",
                "label": "Require Password"
              },
              {
                "name": "link_password",
                "type": "text",
                "label": "Link's Password"
              },
              {
                "name": "allow_download",
                "type": "boolean",
                "label": "Allow Download"
              },
              {
                "name": "requested_visibility",
                "type": "select",
                "label": "Requested Visibility (Deprecated)",
                "validate": {
                  "enum": [
                    "public",
                    "team_only",
                    "password"
                  ]
                }
              }
            ],
            "type": "collection",
            "label": "Settings"
          },
          {
            "name": "path",
            "type": "text",
            "label": "File Path",
            "required": true
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "creatomate:RenderTemplate",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "template_id": "37f5763a-8ee0-4d02-badf-acf3257728e9",
        "modifications": {
          "Title.text": "{{15.scene_1_title}}",
          "Music.source": "https://creatomate.com/files/assets/b5dc815e-dcc9-4c62-9405-f94913936bf5",
          "Voice.source": "{{replace(14.url; \"dl=0\"; \"dl=1\")}}",
          "Follow-Text.text": "{{15.scene_4_outro}}",
          "Explanation-1.text": "{{15.scene_2_text}}",
          "Explanation-2.text": "{{15.scene_3_text}}",
          "Background-1.source": "{{2.sourceUrl}}",
          "Background-2.source": "{{2.sourceUrl}}",
          "Background-3.source": "{{2.sourceUrl}}",
          "Background-4.source": "{{2.sourceUrl}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 300,
          "name": "🎬 Der Cutter (Video-Render)"
        },
        "restore": {
          "expect": {
            "template_id": {
              "mode": "chose",
              "label": "Storytelling Video"
            },
            "modifications": {
              "nested": {
                "Music.source": {
                  "collapsed": true
                },
                "Background-3.source": {
                  "collapsed": true
                },
                "Background-4.source": {
                  "collapsed": true
                }
              }
            },
            "extra_modifications": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "creatomate"
              },
              "label": "My Creatomate connection (LazyTechLab)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:creatomate",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "template_id",
            "type": "select",
            "label": "Template ID",
            "required": true
          },
          {
            "name": "modifications",
            "spec": [
              {
                "name": "Music.source",
                "type": "text",
                "label": "Music"
              },
              {
                "name": "Voice.source",
                "type": "text",
                "label": "Voice"
              },
              {
                "name": "Background-1.source",
                "type": "text",
                "label": "Background-1"
              },
              {
                "name": "Title.text",
                "type": "text",
                "label": "Title"
              },
              {
                "name": "Background-2.source",
                "type": "text",
                "label": "Background-2"
              },
              {
                "name": "Explanation-1.text",
                "type": "text",
                "label": "Explanation-1"
              },
              {
                "name": "Background-3.source",
                "type": "text",
                "label": "Background-3"
              },
              {
                "name": "Explanation-2.text",
                "type": "text",
                "label": "Explanation-2"
              },
              {
                "name": "Background-4.source",
                "type": "text",
                "label": "Background-4"
              },
              {
                "name": "Follow-Text.text",
                "type": "text",
                "label": "Follow-Text"
              }
            ],
            "type": "collection",
            "label": "Modifications",
            "required": true
          },
          {
            "name": "extra_modifications",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Attribute",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value",
                "required": true
              }
            ],
            "type": "array",
            "label": "Extra Modifications"
          },
          {
            "name": "render_scale",
            "type": "number",
            "label": "Render Scale"
          },
          {
            "name": "metadata",
            "type": "text",
            "label": "Metadata"
          },
          {
            "name": "webhook_url",
            "type": "text",
            "label": "Webhook URL"
          }
        ]
      }
    },
    {
      "id": 10,
      "module": "http:ActionGetFile",
      "version": 3,
      "parameters": {
        "handleErrors": false
      },
      "mapper": {
        "url": "{{5.url}}",
        "method": "get",
        "serializeUrl": false,
        "shareCookies": 0
      },
      "metadata": {
        "designer": {
          "x": 3000,
          "y": 300,
          "name": "📦 Der Logistik-Chef (Download)"
        },
        "restore": {},
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 3300,
          "y": 300,
          "name": "🔀 Verteiler (Multi-Channel)"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 7,
              "module": "youtube:uploadVideo",
              "version": 4,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "title": "{{15.scene_1_title}} #Shorts",
                "fileName": "short_{{22.title}}.mp4",
                "data": "{{10.data}}",
                "categoryId": "28",
                "privacyStatus": "public",
                "description": "{{15.youtube_description}}",
                "selfDeclaredMadeForKids": false,
                "containsSyntheticMedia": false
              },
              "metadata": {
                "designer": {
                  "x": 3600,
                  "y": 0,
                  "name": "📺 YouTube Shorts (Upload)"
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "My YouTube connection (Lazy Tech Lab <REDACTED_EMAIL>)",
                      "data": {
                        "scoped": "true",
                        "connection": "youtube"
                      }
                    }
                  },
                  "expect": {
                    "categoryId": {
                      "mode": "chose",
                      "label": "Science & Technology"
                    },
                    "privacyStatus": {
                      "mode": "chose",
                      "label": "Public"
                    },
                    "selfDeclaredMadeForKids": {
                      "mode": "chose"
                    },
                    "containsSyntheticMedia": {
                      "mode": "chose"
                    },
                    "tags": {
                      "mode": "chose"
                    },
                    "license": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "embeddable": {
                      "mode": "chose"
                    },
                    "notifySubscribers": {
                      "mode": "chose"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:youtube",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "type": "hidden"
                  },
                  {
                    "name": "title",
                    "type": "text",
                    "label": "Title",
                    "validate": {
                      "max": 100
                    },
                    "required": true
                  },
                  {
                    "name": "fileName",
                    "type": "filename",
                    "label": "File Name",
                    "required": true
                  },
                  {
                    "name": "data",
                    "type": "buffer",
                    "label": "Data",
                    "required": true
                  },
                  {
                    "name": "categoryId",
                    "type": "select",
                    "label": "Video Category",
                    "required": true
                  },
                  {
                    "name": "privacyStatus",
                    "type": "select",
                    "label": "Privacy Status and Scheduling",
                    "required": true,
                    "validate": {
                      "enum": [
                        "private",
                        "unlisted",
                        "public"
                      ]
                    }
                  },
                  {
                    "name": "description",
                    "type": "text",
                    "label": "Description",
                    "validate": {
                      "max": 5000
                    }
                  },
                  {
                    "name": "selfDeclaredMadeForKids",
                    "type": "boolean",
                    "label": "**The video is made for kids**",
                    "required": true
                  },
                  {
                    "name": "containsSyntheticMedia",
                    "type": "boolean",
                    "label": "**The video contains altered/synthetic media**",
                    "required": true
                  },
                  {
                    "name": "tags",
                    "type": "array",
                    "label": "Tags",
                    "spec": {
                      "type": "text",
                      "label": "Tag",
                      "required": true,
                      "validate": {
                        "max": 500
                      },
                      "name": "value"
                    }
                  },
                  {
                    "name": "recordingDate",
                    "type": "date",
                    "label": "Recording Date"
                  },
                  {
                    "name": "license",
                    "type": "select",
                    "label": "License",
                    "validate": {
                      "enum": [
                        "youtube",
                        "creativeCommon"
                      ]
                    }
                  },
                  {
                    "name": "embeddable",
                    "type": "boolean",
                    "label": "Allow Embedding"
                  },
                  {
                    "name": "notifySubscribers",
                    "type": "boolean",
                    "label": "Notify Subscribers"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "dropbox:uploadLargeFile",
              "version": 5,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "data": "{{10.data}}",
                "path": "/LazyTechLab/Finished_TikToks/{{formatDate(now; \"DD-MM-YYYY\")}} {{15.scene_1_title}}",
                "filename": "{{15.scene_1_title}}.mp4",
                "overwrite": false
              },
              "metadata": {
                "designer": {
                  "x": 3600,
                  "y": 300,
                  "name": "📂 Das Archiv (Backup)"
                },
                "restore": {
                  "expect": {
                    "path": {
                      "mode": "edit"
                    },
                    "overwrite": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "dropbox"
                      },
                      "label": "My Dropbox connection (REDACTED_EMAIL)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:dropbox",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "path",
                    "type": "folder",
                    "label": "Folder",
                    "required": true
                  },
                  {
                    "name": "filename",
                    "type": "filename",
                    "label": "File Name",
                    "required": true
                  },
                  {
                    "name": "data",
                    "type": "buffer",
                    "label": "Data",
                    "required": true
                  },
                  {
                    "name": "overwrite",
                    "type": "boolean",
                    "label": "Overwrite an existing file",
                    "required": true
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 37,
              "module": "dropbox:uploadLargeFile",
              "version": 5,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "path": "/LazyTechLab/Finished_TikToks/{{formatDate(now; \"DD-MM-YYYY\")}} {{15.scene_1_title}}",
                "filename": "Beschreibung.txt",
                "data": "{{15.tiktok_caption}}",
                "overwrite": false
              },
              "metadata": {
                "designer": {
                  "x": 3600,
                  "y": 600
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": {
                      "label": "My Dropbox connection (REDACTED_EMAIL)",
                      "data": {
                        "scoped": "true",
                        "connection": "dropbox"
                      }
                    }
                  },
                  "expect": {
                    "path": {
                      "mode": "edit"
                    },
                    "overwrite": {
                      "mode": "chose"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:dropbox",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "path",
                    "type": "folder",
                    "label": "Folder",
                    "required": true
                  },
                  {
                    "name": "filename",
                    "type": "filename",
                    "label": "File Name",
                    "required": true
                  },
                  {
                    "name": "data",
                    "type": "buffer",
                    "label": "Data",
                    "required": true
                  },
                  {
                    "name": "overwrite",
                    "type": "boolean",
                    "label": "Overwrite an existing file",
                    "required": true
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": [
      {
        "moduleIds": [
          1
        ],
        "content": "<p><strong>DER WÄCHTER:</strong></p><p>Sucht jeden Tag um 18:00 Uhr nach dem neuesten Artikel auf dem Blog.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          2
        ],
        "content": "<p><strong>DER FOTOGRAF:</strong></p><p>Holt den echten Bild-Link (JPG) aus der WordPress-Mediathek.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          3
        ],
        "content": "<p><strong>DAS HIRN:</strong></p><p>Schreibt Hook, Skript und den fertigen TikTok-Text inkl. Hashtags.</p><p>Meine Empfehlung: Gemini 2.5 Flash</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          4
        ],
        "content": "<p><strong>DIE STIMME:</strong></p><p>Erstellt die MP3-Datei mit ElevenLabs.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          13,
          14
        ],
        "content": "<p><strong>AUDIO UPLOAD:</strong></p><p>Lädt die MP3 in die Dropbox (Zwischenspeicher).</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          5
        ],
        "content": "<p><strong>DER CUTTER:</strong></p><p>Baut das finale Video aus Bild, Text-Overlay und Audio-Spur.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          7
        ],
        "content": "<p><strong>YOUTUBE:</strong></p><p>Lädt das Video als Short hoch.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          9
        ],
        "content": "<p><strong>ARCHIV:</strong></p><p>Speichert eine Kopie des Videos in deiner Dropbox. Vielleicht für TikTok Uploads Manuell da die API Privat ist</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#ffd700"
        }
      },
      {
        "moduleIds": [
          15
        ],
        "content": "<p>Zerlegt die KI-Antwort in einzelne Bausteine (Text, Skript, Hashtags).</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          14
        ],
        "content": "<p><strong>AUDIO LINK:</strong></p><p>Erstellt einen Download-Link für die MP3, den der Cutter lesen kan</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          10
        ],
        "content": "<p><strong>DOWNLOAD:</strong></p><p>Lädt das fertig gerenderte Video herunter.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          6
        ],
        "content": "<p><strong>VERTEILER:</strong></p><p>Sendet das Video gleichzeitig zu YouTube, TikTok und ins Archiv.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          21
        ],
        "content": "<p><strong>SAMMLER:</strong></p><p>Sammelt alle passenden Artikel in einem Array, damit wir sie zählen und limitieren können.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          22
        ],
        "content": "<p><strong>DIE BREMSE:</strong></p><p>Hier stellst du ein, wie viele Videos maximal pro Lauf erstellt werden.&lt;br&gt;Aktuell: slice(Array; 0; 1) = 1 Video.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      }
    ]
  }
}