blueprints/sanitized/us/LTL Cross-Promoter [US].blueprint.json
{
  "name": "LTL Cross-Promoter [US]",
  "flow": [
    {
      "id": 1,
      "module": "wordpress:watchPosts",
      "version": 3,
      "parameters": {
        "type": "posts",
        "limit": 1,
        "status": [
          "publish"
        ],
        "__IMTCONN__": 0
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 300,
          "name": "📰 Blog Radar (Trigger)"
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "Posts"
            },
            "status": {
              "label": [
                "Publish"
              ]
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "wordpress4"
              },
              "label": "My LazyTechLab Blog ([NAME] Sonntag)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:wordpress4",
            "label": "Connection",
            "required": true
          },
          {
            "name": "type",
            "type": "select",
            "label": "Type",
            "required": true
          },
          {
            "name": "status",
            "type": "select",
            "label": "Status",
            "multiple": true
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit"
          }
        ]
      }
    },
    {
      "id": 8,
      "module": "wordpress:getMediaItem",
      "version": 3,
      "parameters": {
        "__IMTCONN__": 0
      },
      "filter": {
        "name": "Has Image?",
        "conditions": [
          [
            {
              "a": "{{1.featuredMedia}}",
              "b": "0",
              "o": "number:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "id": "{{1.featured_media}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 300,
          "name": "📸 Image Fetcher"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "wordpress4"
              },
              "label": "My LazyTechLab Blog ([NAME] Sonntag)"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:wordpress4",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "id",
            "type": "number",
            "label": "Media item ID",
            "required": true
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "gemini-ai:createACompletionGeminiPro",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 0
      },
      "mapper": {
        "model": "gemini-3-pro-preview",
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "text": "You are the Social Media Manager for \"LazyTechLab\".\r\nA new article is live:\r\nTitle: {{1.title}}\r\nLink: {{1.link}}\r\nContent: {{1.excerpt}}\r\n\r\nTASK:\r\nCreate 3 texts in JSON format for our channels.\r\n\r\n1. \"linkedin_text\":\r\n   - Audience: Professionals, Business, Sponsors.\r\n   - Tone: Professional, Informative, formal.\r\n   - Content: Brief summary (teaser) + Call to Action.\r\n   - Format: Use emojis sparingly (max 1-2).\r\n   - IMPORTANT: Include the article link {{1.link}} appropriately in the text or at the end of the teaser.\r\n   - FOOTER: Add the following links BEFORE the hashtags:\r\n     My Tech Blog: https://lazytechlab.com/\r\n     My Tech Store: https://store.lazytechlab.com/\r\n   - End with: 3 relevant hashtags #Tech #Business\r\n\r\n2. \"discord_text\":\r\n   - Audience: Gamers, Nerds, Community.\r\n   - Tone: Hype, Casual, informal (\"Check this out!\").\r\n   - Content: Just one sentence + link.\r\n   - Format: Use emojis 🚀🔥.\r\n   - IMPORTANT: Add the link {{1.link}} at the end.\r\n\r\n3. \"pinterest_text\":\r\n   - Audience: Visual seekers, SEO-focused.\r\n   - Tone: Informative, solves a problem (\"WiFi too slow? Here's the solution\").\r\n   - Content: 2-3 snappy sentences describing the article.\r\n   - Format: No quotation marks.\r\n   - FOOTER: Add the following links BEFORE the hashtags:\r\n     My Tech Blog: https://lazytechlab.com/\r\n     My Tech Store: https://store.lazytechlab.com/\r\n   - End with: 5 strong SEO hashtags.\n4. \"pinterest_title\":\nWrite a strong title for Pinterest but keep it under 100 characters.\nCriteria for title: 100 characters but we need clicks.\n5. \"LinkedIn_title\":\nWrite a strong title for LinkedIn. We need clicks.\n\r\n\r\nJSON OUTPUT STRUCTURE:\r\n{\r\n  \"linkedin_text\": \"...\",\r\n  \"discord_text\": \"...\",\r\n  \"pinterest_text\": \"...\"\n  \"pinterest_title\": \"...\"\n  \"LinkedIn_title\": \"...\"\r\n}",
                "type": "text"
              }
            ]
          }
        ],
        "generationConfig": {
          "thinkingConfig": {},
          "responseMimeType": "application/json"
        },
        "system_instruction": {}
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 300,
          "name": "🧠 Content Chief (AI)"
        },
        "restore": {
          "expect": {
            "model": {
              "mode": "chose",
              "label": "Gemini 3 Pro Preview"
            },
            "contents": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "parts": {
                    "mode": "chose",
                    "items": [
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "url_context": {
              "mode": "chose"
            },
            "code_execution": {
              "mode": "chose"
            },
            "safetySettings": {
              "mode": "chose"
            },
            "generationConfig": {
              "nested": {
                "stopSequences": {
                  "mode": "chose"
                },
                "thinkingConfig": {
                  "nested": {
                    "thinking_level": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "include_thoughts": {
                      "mode": "chose"
                    }
                  }
                },
                "mediaResolution": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "responseMimeType": {
                  "mode": "chose",
                  "label": "JSON Output"
                },
                "new_responseSchema": {
                  "mode": "chose"
                },
                "responseModalities": {
                  "mode": "chose"
                }
              }
            },
            "system_instruction": {
              "nested": {
                "parts": {
                  "mode": "chose"
                }
              }
            },
            "google_maps_context": {
              "mode": "chose"
            },
            "google_search_context": {
              "mode": "chose"
            },
            "file_search_store_context": {
              "mode": "chose"
            },
            "function_declarations_context": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "gemini-ai-q9zyjp"
              },
              "label": "My Gemini AI connection"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:gemini-ai-q9zyjp",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "AI Model",
            "required": true
          },
          {
            "name": "contents",
            "spec": [
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Model",
                    "value": "model"
                  }
                ]
              },
              {
                "name": "parts",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Message Type",
                    "options": [
                      {
                        "label": "Text",
                        "value": "text",
                        "nested": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "File",
                        "value": "file",
                        "nested": [
                          {
                            "name": "file_data",
                            "spec": [
                              {
                                "name": "mime_type",
                                "type": "text",
                                "label": "Mime Type",
                                "required": false
                              },
                              {
                                "help": "You get this from the 'Upload a File' module.",
                                "name": "file_uri",
                                "type": "text",
                                "label": "File URI",
                                "required": false
                              }
                            ],
                            "type": "collection",
                            "label": "File Data",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "Function Call",
                        "value": "functionCall",
                        "nested": [
                          {
                            "name": "functionCall",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function parameters and values in JSON object format.",
                                "name": "args",
                                "type": "json",
                                "label": "Arguments"
                              },
                              {
                                "help": "The unique ID of the function call.",
                                "name": "id",
                                "type": "text",
                                "label": "Function Call ID"
                              }
                            ],
                            "type": "collection",
                            "label": "Function Call"
                          }
                        ]
                      },
                      {
                        "label": "Function Response",
                        "value": "functionResponse",
                        "nested": [
                          {
                            "name": "functionResponse",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function response in JSON object format.",
                                "name": "response",
                                "type": "json",
                                "label": "Response",
                                "required": true
                              }
                            ],
                            "type": "collection",
                            "label": "Function Response"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "name": "thoughtSignature",
                    "type": "text",
                    "label": "Thought Signature"
                  }
                ],
                "type": "array",
                "label": "Parts"
              }
            ],
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "system_instruction",
            "spec": [
              {
                "name": "parts",
                "spec": {
                  "name": "value",
                  "spec": [
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Prompt"
                },
                "type": "array",
                "label": "Prompts"
              }
            ],
            "type": "collection",
            "label": "System Instructions"
          },
          {
            "name": "safetySettings",
            "spec": [
              {
                "name": "category",
                "type": "select",
                "label": "Category",
                "options": [
                  {
                    "label": "Harassment content",
                    "value": "HARM_CATEGORY_HARASSMENT"
                  },
                  {
                    "label": "Hate speech and content",
                    "value": "HARM_CATEGORY_HATE_SPEECH"
                  },
                  {
                    "label": "Sexually explicit content.",
                    "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                  },
                  {
                    "label": "Dangerous content:",
                    "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                  }
                ]
              },
              {
                "name": "threshold",
                "type": "select",
                "label": "Threshold",
                "options": [
                  {
                    "label": "Block low and above.",
                    "value": "BLOCK_LOW_AND_ABOVE"
                  },
                  {
                    "label": "Block medium and above.",
                    "value": "BLOCK_MEDIUM_AND_ABOVE"
                  },
                  {
                    "label": "Block only high.",
                    "value": "BLOCK_ONLY_HIGH"
                  },
                  {
                    "label": "Block none.",
                    "value": "BLOCK_NONE"
                  }
                ]
              }
            ],
            "type": "array",
            "label": "Safety Settings"
          },
          {
            "name": "generationConfig",
            "spec": [
              {
                "name": "stopSequences",
                "spec": {
                  "name": "value",
                  "type": "text",
                  "label": "Stop Sequence"
                },
                "type": "array",
                "label": "Stop Sequences"
              },
              {
                "name": "responseModalities",
                "type": "select",
                "label": "Response Modalities",
                "multiple": true,
                "validate": {
                  "enum": [
                    "text",
                    "image"
                  ]
                }
              },
              {
                "name": "maxOutputTokens",
                "type": "number",
                "label": "Max Output Tokens"
              },
              {
                "name": "temperature",
                "type": "number",
                "label": "Temperature",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topP",
                "type": "number",
                "label": "Top P",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topK",
                "type": "number",
                "label": "Top K"
              },
              {
                "name": "thinkingConfig",
                "spec": [
                  {
                    "name": "thinkingBudget",
                    "type": "number",
                    "label": "Thinking Budget"
                  },
                  {
                    "name": "include_thoughts",
                    "type": "boolean",
                    "label": "Include Thoughts"
                  },
                  {
                    "name": "thinking_level",
                    "type": "select",
                    "label": "Thinking Level",
                    "validate": {
                      "enum": [
                        "low",
                        "high"
                      ]
                    }
                  }
                ],
                "type": "collection",
                "label": "Thinking Config"
              },
              {
                "name": "mediaResolution",
                "type": "select",
                "label": "Media Resolution",
                "validate": {
                  "enum": [
                    "media_resolution_low",
                    "media_resolution_medium",
                    "media_resolution_high"
                  ]
                }
              },
              {
                "name": "responseMimeType",
                "type": "select",
                "label": "Response Format"
              },
              {
                "name": "responseSchema",
                "type": "any",
                "label": "Response Schema (Deprecated)"
              },
              {
                "name": "new_responseSchema",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Value Type",
                    "options": [
                      {
                        "label": "String",
                        "value": "string",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=string"
                      },
                      {
                        "label": "Enum",
                        "value": "enum",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=enum"
                      },
                      {
                        "label": "Number",
                        "value": "number",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=number"
                      },
                      {
                        "label": "Integer",
                        "value": "integer",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=integer"
                      },
                      {
                        "label": "Boolean",
                        "value": "boolean",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=boolean"
                      },
                      {
                        "label": "Object",
                        "value": "object",
                        "nested": "rpc://gemini-ai/1/createResponseSchema?type=object"
                      }
                    ]
                  }
                ],
                "type": "array",
                "label": "Response Schema"
              }
            ],
            "type": "collection",
            "label": "Generation configurations"
          },
          {
            "name": "tools",
            "type": "any",
            "label": "Tools"
          },
          {
            "name": "tool_config",
            "type": "any",
            "label": "Tool Config"
          },
          {
            "name": "function_declarations_context",
            "type": "boolean",
            "label": "Function Declarations Grounding"
          },
          {
            "name": "url_context",
            "type": "boolean",
            "label": "URL Context"
          },
          {
            "name": "google_search_context",
            "type": "boolean",
            "label": "Google Search Grounding"
          },
          {
            "name": "code_execution",
            "type": "boolean",
            "label": "Code Execution"
          },
          {
            "name": "google_maps_context",
            "type": "boolean",
            "label": "Google Maps Grounding"
          },
          {
            "name": "file_search_store_context",
            "type": "boolean",
            "label": "File Search Store Context"
          }
        ],
        "advanced": true
      }
    },
    {
      "id": 3,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": ""
      },
      "mapper": {
        "json": "{{2.candidates[].content.parts[].text}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 300,
          "name": "🔧 Data Converter"
        },
        "restore": {
          "parameters": {
            "type": {
              "label": "Choose a data structure"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure"
          }
        ],
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ]
      }
    },
    {
      "id": 10,
      "module": "http:ActionGetFile",
      "version": 3,
      "parameters": {
        "handleErrors": false
      },
      "mapper": {
        "url": "{{8.sourceUrl}}",
        "method": "get",
        "serializeUrl": false,
        "shareCookies": 0
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 300,
          "name": "📥 Image Download"
        },
        "restore": {},
        "parameters": [
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "hidden",
            "label": "Method"
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 300,
          "name": "🔀 Distribution Hub"
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 9,
              "module": "pinterest:createPin",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "link": "{{1.link}}",
                "title": "{{3.pinterest_title}}",
                "board_id": "1076430817126426764",
                "description": "{{3.pinterest_text}}",
                "media_source": {
                  "data": "{{10.data}}",
                  "source_type": "image_base64",
                  "content_type": "image/png"
                }
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0,
                  "name": "📌 Pinterest Traffic Driver Upload"
                },
                "restore": {
                  "expect": {
                    "board_id": {
                      "mode": "chose",
                      "label": "Tech News & Gadgets"
                    },
                    "media_source": {
                      "nested": {
                        "is_standard": {
                          "mode": "chose"
                        },
                        "source_type": {
                          "mode": "chose",
                          "label": "Image Base64"
                        },
                        "content_type": {
                          "mode": "chose",
                          "label": "image/png"
                        }
                      }
                    },
                    "ad_account_id": {
                      "mode": "chose"
                    },
                    "parent_pin_id": {
                      "mode": "chose"
                    },
                    "board_section_id": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "pinterest2"
                      },
                      "label": "My pinterest connection (LazyTechLab)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:pinterest2",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "media_source",
                    "spec": [
                      {
                        "name": "source_type",
                        "type": "select",
                        "label": "Source Type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "video_id",
                            "image_url",
                            "multiple_image_urls",
                            "image_base64",
                            "multiple_image_base64"
                          ]
                        }
                      },
                      {
                        "name": "content_type",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "image/jpeg",
                            "image/png"
                          ]
                        }
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "File Data",
                        "required": true
                      },
                      {
                        "name": "is_standard",
                        "type": "boolean",
                        "label": "Is Standard"
                      }
                    ],
                    "type": "collection",
                    "label": "Media Source",
                    "required": true
                  },
                  {
                    "name": "board_id",
                    "type": "select",
                    "label": "Board",
                    "required": true
                  },
                  {
                    "name": "title",
                    "type": "text",
                    "label": "Pin Name"
                  },
                  {
                    "name": "description",
                    "type": "text",
                    "label": "Description",
                    "validate": {
                      "max": 800
                    }
                  },
                  {
                    "name": "link",
                    "type": "url",
                    "label": "Link"
                  },
                  {
                    "name": "alt_text",
                    "type": "text",
                    "label": "Alternative Text"
                  },
                  {
                    "name": "dominant_color",
                    "type": "color",
                    "label": "Dominant Color"
                  },
                  {
                    "name": "parent_pin_id",
                    "type": "select",
                    "label": "Parent Pin"
                  },
                  {
                    "name": "ad_account_id",
                    "type": "select",
                    "label": "Ad Account"
                  },
                  {
                    "name": "board_section_id",
                    "type": "select",
                    "label": "Board Section"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "linkedin:CreatePost",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "type": "ARTICLE",
                "media": {
                  "title": "{{3.LinkedIn_title}}",
                  "thumbnail": {
                    "data": "{{10.data}}",
                    "fileName": "{{10.fileName}}",
                    "thumbnailAltText": "{{8.altText}}"
                  },
                  "description": "{{3.linkedin_text}}",
                  "originalUrl": "{{1.link}}"
                },
                "content": "{{3.linkedin_text}}",
                "visibility": "PUBLIC",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": 0
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 300,
                  "name": "💼 LinkedIn (Business)"
                },
                "restore": {
                  "expect": {
                    "type": {
                      "mode": "chose",
                      "label": "Article"
                    },
                    "mentions": {
                      "mode": "chose"
                    },
                    "visibility": {
                      "mode": "chose",
                      "label": "Anyone"
                    },
                    "feedDistribution": {
                      "mode": "chose",
                      "label": "Main feed"
                    },
                    "isReshareDisabledByAuthor": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "linkedin2"
                      },
                      "label": "My LinkedIn connection ([NAME] Sonntag)"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:linkedin2,linkedin-openid",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "content",
                    "type": "text",
                    "label": "Content",
                    "required": true
                  },
                  {
                    "name": "mentions",
                    "spec": [
                      {
                        "name": "entity",
                        "type": "select",
                        "label": "Entity",
                        "options": [
                          {
                            "label": "Person",
                            "value": "member",
                            "nested": [
                              {
                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                "name": "urn",
                                "type": "text",
                                "label": "Entity URN",
                                "required": true
                              }
                            ]
                          },
                          {
                            "label": "Company",
                            "value": "company",
                            "nested": [
                              {
                                "help": "For example, `urn:li:organization:123456`.",
                                "name": "urn",
                                "type": "text",
                                "label": "Entity URN",
                                "required": true
                              }
                            ]
                          }
                        ],
                        "required": true
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Entity Name",
                        "required": true
                      },
                      {
                        "name": "start",
                        "type": "number",
                        "label": "Start",
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Mentions"
                  },
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Media Type",
                    "validate": {
                      "enum": [
                        "ARTICLE"
                      ]
                    }
                  },
                  {
                    "name": "visibility",
                    "type": "select",
                    "label": "Visibility",
                    "required": true,
                    "validate": {
                      "enum": [
                        "PUBLIC",
                        "CONNECTIONS",
                        "LOGGED_IN"
                      ]
                    }
                  },
                  {
                    "name": "feedDistribution",
                    "type": "select",
                    "label": "Feed Distribution",
                    "required": true,
                    "validate": {
                      "enum": [
                        "MAIN_FEED",
                        "NONE"
                      ]
                    }
                  },
                  {
                    "name": "isReshareDisabledByAuthor",
                    "type": "boolean",
                    "label": "Is Reshare Disabled",
                    "required": true
                  },
                  {
                    "name": "media",
                    "spec": [
                      {
                        "name": "originalUrl",
                        "type": "url",
                        "label": "URL",
                        "required": true
                      },
                      {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true,
                        "validate": {
                          "max": 400
                        }
                      },
                      {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "validate": {
                          "max": 4086
                        }
                      },
                      {
                        "name": "thumbnail",
                        "spec": [
                          {
                            "name": "fileName",
                            "type": "text",
                            "label": "File name"
                          },
                          {
                            "name": "data",
                            "type": "buffer",
                            "label": "Data"
                          },
                          {
                            "name": "thumbnailAltText",
                            "type": "text",
                            "label": "Thumbnail Alt Text",
                            "validate": {
                              "max": 4086
                            }
                          }
                        ],
                        "type": "collection",
                        "label": "Thumbnail"
                      }
                    ],
                    "type": "collection",
                    "label": "Link"
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "discord:PostMessage",
              "version": 2,
              "parameters": {
                "__IMTCONN__": 0
              },
              "mapper": {
                "content": "{{3.discord_text}}"
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 600,
                  "name": "👾 Discord (Community)"
                },
                "restore": {
                  "expect": {
                    "tts": {
                      "mode": "chose"
                    },
                    "files": {
                      "mode": "chose"
                    },
                    "embeds": {
                      "mode": "chose"
                    },
                    "components": {
                      "mode": "chose"
                    },
                    "waitForMessageBody": {
                      "mode": "chose"
                    }
                  },
                  "parameters": {
                    "__IMTCONN__": {
                      "data": {
                        "scoped": "true",
                        "connection": "discord"
                      },
                      "label": "Discord Daily-News Bot (Make (team1278341651986911253))"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:discord",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "content",
                    "type": "text",
                    "label": "Message"
                  },
                  {
                    "name": "waitForMessageBody",
                    "type": "boolean",
                    "label": "Wait for Message Body"
                  },
                  {
                    "name": "tts",
                    "type": "boolean",
                    "label": "Is TTS message"
                  },
                  {
                    "name": "embeds",
                    "spec": [
                      {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                      },
                      {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                      },
                      {
                        "name": "timestamp",
                        "type": "date",
                        "label": "Timestamp"
                      },
                      {
                        "name": "color",
                        "type": "uinteger",
                        "label": "Color"
                      },
                      {
                        "name": "footer",
                        "spec": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text"
                          },
                          {
                            "name": "icon_url",
                            "type": "url",
                            "label": "Icon URL"
                          },
                          {
                            "name": "proxy_icon_url",
                            "type": "url",
                            "label": "Proxy Icon URL"
                          }
                        ],
                        "type": "collection",
                        "label": "Footer"
                      },
                      {
                        "name": "image",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "proxy_url",
                            "type": "url",
                            "label": "Proxy URL"
                          },
                          {
                            "name": "height",
                            "type": "uinteger",
                            "label": "Height"
                          },
                          {
                            "name": "width",
                            "type": "uinteger",
                            "label": "Width"
                          }
                        ],
                        "type": "collection",
                        "label": "Image"
                      },
                      {
                        "name": "thumbnail",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "proxy_url",
                            "type": "url",
                            "label": "Proxy URL"
                          },
                          {
                            "name": "height",
                            "type": "uinteger",
                            "label": "Height"
                          },
                          {
                            "name": "width",
                            "type": "uinteger",
                            "label": "Width"
                          }
                        ],
                        "type": "collection",
                        "label": "Thumbnail"
                      },
                      {
                        "name": "video",
                        "spec": [
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "height",
                            "type": "uinteger",
                            "label": "Height"
                          },
                          {
                            "name": "width",
                            "type": "uinteger",
                            "label": "Width"
                          }
                        ],
                        "type": "collection",
                        "label": "Video"
                      },
                      {
                        "name": "provider",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          }
                        ],
                        "type": "collection",
                        "label": "Provider"
                      },
                      {
                        "name": "author",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "url",
                            "type": "url",
                            "label": "URL"
                          },
                          {
                            "name": "icon_url",
                            "type": "url",
                            "label": "Icon URL"
                          },
                          {
                            "name": "proxy_icon_url",
                            "type": "url",
                            "label": "Proxy Icon URL"
                          }
                        ],
                        "type": "collection",
                        "label": "Author"
                      },
                      {
                        "name": "fields",
                        "spec": [
                          {
                            "name": "name",
                            "type": "text",
                            "label": "Name"
                          },
                          {
                            "name": "value",
                            "type": "text",
                            "label": "Value"
                          },
                          {
                            "name": "inline",
                            "type": "boolean",
                            "label": "Inline Flag"
                          }
                        ],
                        "type": "array",
                        "label": "Fields"
                      }
                    ],
                    "type": "array",
                    "label": "Embeds"
                  },
                  {
                    "name": "components",
                    "spec": [
                      {
                        "name": "type",
                        "type": "select",
                        "label": "Component Type",
                        "options": [
                          {
                            "label": "A New Row",
                            "value": 1,
                            "nested": [
                              {
                                "name": "components",
                                "spec": [
                                  {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Row Component Type",
                                    "options": [
                                      {
                                        "label": "Button",
                                        "value": 2,
                                        "nested": [
                                          {
                                            "name": "style",
                                            "type": "select",
                                            "label": "Style",
                                            "options": [
                                              {
                                                "label": "Primary (blurple)",
                                                "value": 1,
                                                "nested": [
                                                  {
                                                    "help": "A developer-defined identifier for the button, max 100 characters.",
                                                    "name": "custom_id",
                                                    "type": "text",
                                                    "label": "Custom ID",
                                                    "required": true
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Secondary (grey)",
                                                "value": 2,
                                                "nested": [
                                                  {
                                                    "help": "A developer-defined identifier for the button, max 100 characters.",
                                                    "name": "custom_id",
                                                    "type": "text",
                                                    "label": "Custom ID",
                                                    "required": true
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Success (green)",
                                                "value": 3,
                                                "nested": [
                                                  {
                                                    "help": "A developer-defined identifier for the button, max 100 characters.",
                                                    "name": "custom_id",
                                                    "type": "text",
                                                    "label": "Custom ID",
                                                    "required": true
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Danger (red)",
                                                "value": 4,
                                                "nested": [
                                                  {
                                                    "help": "A developer-defined identifier for the button, max 100 characters.",
                                                    "name": "custom_id",
                                                    "type": "text",
                                                    "label": "Custom ID",
                                                    "required": true
                                                  }
                                                ]
                                              },
                                              {
                                                "label": "Link (grey)",
                                                "value": 5,
                                                "nested": [
                                                  {
                                                    "help": "A URL for link-style buttons.",
                                                    "name": "url",
                                                    "type": "url",
                                                    "label": "URL",
                                                    "required": true
                                                  }
                                                ]
                                              }
                                            ],
                                            "required": true
                                          },
                                          {
                                            "help": "Text that appears on the button, max 80 characters.",
                                            "name": "label",
                                            "type": "text",
                                            "label": "Label"
                                          },
                                          {
                                            "name": "disabled",
                                            "type": "boolean",
                                            "label": "Disabled"
                                          }
                                        ]
                                      },
                                      {
                                        "label": "Select Menu",
                                        "value": 3,
                                        "nested": [
                                          {
                                            "help": "A developer-defined identifier for the button, max 100 characters.",
                                            "name": "custom_id",
                                            "type": "text",
                                            "label": "Custom ID",
                                            "required": true
                                          },
                                          {
                                            "name": "options",
                                            "spec": [
                                              {
                                                "help": "The user-facing name of the option, max 100 characters.",
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label",
                                                "required": true
                                              },
                                              {
                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                              },
                                              {
                                                "help": "An additional description of the option, max 100 characters.",
                                                "name": "description",
                                                "type": "text",
                                                "label": "Description"
                                              },
                                              {
                                                "name": "default",
                                                "type": "boolean",
                                                "label": "Default"
                                              }
                                            ],
                                            "type": "array",
                                            "label": "Options",
                                            "required": true,
                                            "validate": {
                                              "maxItems": 25
                                            }
                                          },
                                          {
                                            "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                            "name": "placeholder",
                                            "type": "text",
                                            "label": "Placeholder"
                                          },
                                          {
                                            "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                            "name": "min_values",
                                            "type": "uinteger",
                                            "label": "Minimum values"
                                          },
                                          {
                                            "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                            "name": "max_values",
                                            "type": "uinteger",
                                            "label": "Maximum values"
                                          },
                                          {
                                            "name": "disabled",
                                            "type": "boolean",
                                            "label": "Disabled"
                                          }
                                        ]
                                      }
                                    ],
                                    "required": true
                                  }
                                ],
                                "type": "array",
                                "label": "Row Components",
                                "required": true
                              }
                            ]
                          }
                        ],
                        "required": true
                      }
                    ],
                    "type": "array",
                    "label": "Components"
                  },
                  {
                    "name": "files",
                    "spec": [
                      {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true,
                        "semantic": "file:name"
                      },
                      {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true,
                        "semantic": "file:data"
                      }
                    ],
                    "type": "array",
                    "label": "Files"
                  },
                  {
                    "name": "username",
                    "type": "text",
                    "label": "Username"
                  },
                  {
                    "name": "avatar_url",
                    "type": "url",
                    "label": "Avatar URL"
                  },
                  {
                    "name": "moduleWebhookUrl",
                    "type": "url",
                    "label": "Custom Webhook URL"
                  }
                ],
                "advanced": true
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": [
      {
        "moduleIds": [
          7
        ],
        "content": "<p><strong>DISCORD:</strong> </p><p>Posts the news alert to the public Daily News channel.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          9
        ],
        "content": "<p><strong>PINTEREST:</strong> </p><p>Uploads the image as an actual file + SEO text.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          10
        ],
        "content": "<p><strong>SAFETY:</strong> </p><p>Downloads the image to prevent Pinterest crashes and for LinkedIn (Error 400 fix).</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          8
        ],
        "content": "<p><strong>MEDIA:</strong> </p><p>Fetches the post image to send to the platforms.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          5
        ],
        "content": "<p><strong>LINKEDIN:</strong> </p><p>Posts the article as \"Article Share\" or image post.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          4
        ],
        "content": "<p><strong>SPLIT:</strong> </p><p>Sends data to all channels simultaneously.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          3
        ],
        "content": "<p><strong>STRUCTURE:</strong> </p><p>Converts the AI text into individual variables.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          2
        ],
        "content": "<p><strong>TEXT ENGINE:</strong> </p><p>Writes 3 variants: Professional (LinkedIn), Hype (Discord), SEO-Short (Pinterest).</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      },
      {
        "moduleIds": [
          1
        ],
        "content": "<p><strong>TRIGGER:</strong> </p><p>Starts immediately when a new article goes live.</p>",
        "isFilterNote": false,
        "metadata": {
          "color": "#9138FE"
        }
      }
    ]
  }
}